@font-face {
   font-family: 'Helvetica';
   font-display: swap;
   src: url('Helvetica/font.ttf');
}
@font-face {
   font-family: 'House of cards W03 Bold';
   font-display: swap;
   src: url('House of cards W03 Bold/font.ttf');
}
