@font-face {
   font-family: 'Helvetica';
   font-display: swap;
   src: url('file:///Users/sadiqhusainblodha/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2021-04-10_161037/fonts/Helvetica/font.ttf');
}
