@font-face {
   font-family: 'House of cards W03 Bold';
   font-display: swap;
   src: url('file:///Users/sadiqhusainblodha/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2021-04-10_161037/fonts/House%20of%20cards%20W03%20Bold/font.ttf');
}
